oval-schemas/esx-system-characteristics-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:oval-sc="urn:oval:v6:system-characteristics" 
	xmlns:oval="urn:oval:v6:common" xmlns:sch="http://purl.oclc.org/dsdl/schematron" 
	xmlns:esx-sc="urn:oval:v6:system-characteristics:esx" 
	targetNamespace="urn:oval:v6:system-characteristics:esx" 
	elementFormDefault="qualified" version="5.11.2">
    <xsd:import namespace="urn:oval:v6:system-characteristics" schemaLocation="oval-system-characteristics-schema.xsd"/>
    <xsd:annotation>
        <xsd:documentation>The following is a proposal for the schemas for VMware ESX that will support assessment of ESX hosts and Virtual Machines</xsd:documentation>
        <xsd:documentation>The OVAL Schema is maintained by the OVAL Community. For more information, including how to get involved in the project and how to submit change requests, please visit the OVAL website at https://github.com/OVAL-Community/.</xsd:documentation>
		<xsd:appinfo>
            <schema>VMware ESX System characteristics</schema>
            <version>6.0</version>
            <date>1/24/2025 09:00:00 AM</date>
            <terms_of_use>This software is an open standard developed by multiple parties, including the United States Government (Government). The Government hereby grants you a non-exclusive, royalty-free, worldwide license to use, modify, and/or reproduce the software for any lawful purpose provided that you reproduce this License/Disclaimer language with any use/modification/copy of the software. The Government assumes no responsibility whatsoever for this software's use by other parties, and the software is provided "AS IS" without warranty or guarantee of any kind, express or implied, including, but not limited to, the warranties of merchantability, fitness for a particular purpose, and noninfringement. In no event shall the Government be liable for any claim, damages or other liability, whether in an action of contract, tort or other dealings in the software. The Government has no obligation hereunder to provide maintenance, support, updates, enhancements, or modifications to the software. Users may submit proposals and/or updates regarding the software, which proposals and/or updates the Government, at its sole discretion, can choose to incorporate into the software. Proposals and/or updates submitted to the Government by users must be accompanied by a license to such proposals and/or updates that is no more restrictive than this License/Disclaimer.</terms_of_use>
            <sch:ns prefix="oval-def" urn="urn:oval:v6:definitions"/>
            <sch:ns prefix="oval-sc" urn="urn:oval:v6:system-characteristics"/>
            <sch:ns prefix="esx-sc" urn="urn:oval:v6:system-characteristics:esx"/>
            <sch:ns prefix="xsi" uri="http://www.w3.org/2001/XMLSchema-instance"/>
        </xsd:appinfo>
    </xsd:annotation>
    
    <!-- =============================================================================== -->
    <!-- VMHost Acceptance Level Item -->
    <!-- =============================================================================== -->
    <xsd:element name="host_acceptancelevel_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="acceptance_level" type="esx-sc:EntityItemAcceptanceLevelType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The software acceptance level for the associated ESXi host.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- VMHost VIB Item -->
    <!-- =============================================================================== -->
    <xsd:element name="host_vib_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="vib_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The VIB name</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="acceptance_level" type="esx-sc:EntityItemAcceptanceLevelType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The software acceptance level for the associated VIB</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="creation_date" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>VIB Creation Date</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="vendor" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>VIB Vendor</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="version" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>VIB Version</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- VMHost Module Item -->
    <!-- =============================================================================== -->
    <xsd:element name="host_module_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="module_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The name of the kernel module</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="license" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The name of the license holder for the kernel module.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="module_file" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The path to the kernel module file.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="version" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The kernel module version information.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="acceptance_level" type="esx-sc:EntityItemAcceptanceLevelType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The software acceptance level of the kernel module.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- VMHost Core Dump Item -->
    <!-- =============================================================================== -->
    <xsd:element name="host_coredump_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="enabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Displays whether or not the ESXi dump collector is enabled for the ESXi host</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="host_vnic" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The ESXi host's configured core dump destination vnic</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="network_server_ip" type="oval-sc:EntityItemIPAddressStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The ESXi host's configured core dump destination IP</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="network_server_port" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The ESXi host's configured core dump destination port</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- VMHost Web Server SSL Item -->
    <!-- =============================================================================== -->
    <xsd:element name="host_webserverssl_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="certificate_is_valid" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Whether or not the ESXi host certificate is valid for current date</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="issuer" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The certificate issuer</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="expires" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The certificate expiration date and time (formatted as a string)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="days_till_expire" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The number of days before the certificate expires</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- VMHost Authentication Item -->
    <!-- =============================================================================== -->
    <xsd:element name="host_authentication_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="domain" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The name of the domain</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="domain_membership_status" type="esx-sc:EntityItemDomainMembershipStatusType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The status of the ESXi host's membership in the domain</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- VMHost Account Item -->
    <!-- =============================================================================== -->
    <xsd:element name="host_account_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="account_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="domain" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="description" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="shell_access_enabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="role" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- VMHost Advanced Setting Item -->
    <!-- =============================================================================== -->
    <xsd:element name="host_advancedsetting_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="advanced_setting_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The host_advancedsetting_name element details the name of the VMHost's advanced configuration setting to collect.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="advanced_setting_value" type="oval-sc:EntityItemAnySimpleType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>The advanced_setting_value element details the value of the VMHost's advanced configuration setting that was collected.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- VMHost Service Item -->
    <!-- =============================================================================== -->
    <xsd:element name="host_service_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="service_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The service_name element details the name of the VMHost's service that was collected.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="service_label" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Label</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="service_policy" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Policy</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="service_running" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Running</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="service_required" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Required?</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- VMHost NTP Server Item -->
    <!-- =============================================================================== -->
    <xsd:element name="host_ntpserver_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="ntp_server_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>NTPServerName, as retrieved from Get-VMHostNtpServer</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- VMHost Lockdown Item -->
    <!-- =============================================================================== -->
    <xsd:element name="host_lockdown_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="lockdown" type="esx-sc:EntityItemLockdownType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Lockdown mode type</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="lockdown_user" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>The value identifying a user account that is allowed to connect when the ESXi host is in lockdown mode.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- VMHost Firewall Exception Item -->
    <!-- =============================================================================== -->
    <xsd:element name="host_firewallexception_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="firewall_exception_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="exception_enabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="port" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="end_port" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="direction" type="esx-sc:EntityItemFirewallDirectionType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="protocol" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="service_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="service_running" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="allowed_hosts_all_ip" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- VMHost Bus Adapter Item -->
    <!-- =============================================================================== -->
    <xsd:element name="host_busadapter_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="device_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specify the devices of the HBA you want to retrieve.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="busadapter_type" type="esx-sc:EntityItemBusAdapterType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specify the type of the HBAs you want to retrieve. The valid values are Block, FibreChannel, iSCSI, and ParallelSCSI.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="busadapter_key" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="busadapter_model" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="busadapter_pci" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="busadapter_driver" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="busadapter_bus" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="busadapter_status" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="chap_type" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>CHAP Type</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="chap_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>CHAP Name</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="mutual_chap_enabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Mutual CHAP enabled?</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="mutual_chap_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Mutual CHAP Name</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- VMHost Virtual Switch Policy Item -->
    <!-- =============================================================================== -->
    <xsd:element name="host_vswitchpolicy_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="vswitch_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>vSwitch name</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="mac_changes" type="esx-sc:EntityItemAcceptRejectType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>MAC changes allowed</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="promiscuous_mode" type="esx-sc:EntityItemAcceptRejectType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Promiscuous mode allowed</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="forged_transmits" type="esx-sc:EntityItemAcceptRejectType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Forged transmits allowed</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    
    <xsd:complexType name="VMItemBaseType">
        <xsd:annotation>
            <xsd:documentation>Base type for VM-based States</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
                <xsd:sequence>
                    <xsd:element name="vm_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>The name of the Virtual Machine on the ESXi host for which information is collected.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <!-- =============================================================================== -->
    <!-- Virtual Machine Advanced Setting Item -->
    <!-- =============================================================================== -->
    <xsd:element name="vm_advancedsetting_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="esx-sc:VMItemBaseType">
                    <xsd:sequence>
                        <xsd:element name="advanced_setting_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The advanced setting name</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="advanced_setting_value" type="oval-sc:EntityItemAnySimpleType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>The advanced setting value</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- Virtual Machine Device Item -->
    <!-- =============================================================================== -->
    
    <!--
        The VMDeviceStateType defines the common state information that can be tested for 
        any VM device type.  Specific state elements will be created extending this type 
        in order to test for device-type-specific settings.
    -->
    <xsd:complexType name="VMDeviceItemType">
        <xsd:annotation>
            <xsd:documentation>Base type for VM Devices</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="esx-sc:VMItemBaseType">
                <xsd:sequence>
                    <xsd:element name="device_type" type="esx-sc:EntityItemVMDeviceType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>The device type; one of the values in the enumeration (floppy, cdrom, parallel, etc).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="device_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>The Name of the device</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                    <!-- ConnectInfo booleans -->
                    <xsd:element name="allow_guest_control" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="connected" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="start_connected" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="vm_device_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="esx-sc:VMDeviceItemType"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="vm_harddiskdevice_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="esx-sc:VMDeviceItemType">
                    <xsd:sequence>
                        <xsd:element name="persistence" type="esx-sc:EntityItemVMDevicePersistenceType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The persistence policy (Persistent, NonPersistent, Undoable, IndependentPersistent, IndependentNonPersistent, or Unknown)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- Host Port Group Item -->
    <!-- =============================================================================== -->
    <xsd:element name="host_portgroup_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="port_group_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>PortGroup Name</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="virtual_switch_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Virtual Switch Name</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="vlan_id" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>VlanID</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- Virtual Distributed Switch Item -->
    <!-- =============================================================================== -->
    <xsd:element name="vds_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="vds_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The name of a vSphere Distributed Switch.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="vlan_mtu_health_check_enabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>VLAN and MTU Health Check enabled?</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="teaming_failover_health_check_enabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Teaming and Failover Health Check enabled?</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <!-- Add "netflow_enabled", "collector_ip_address", "collector_port" ??? -->
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- Virtual Distributed Port Group Item -->
    <!-- =============================================================================== -->
    <xsd:element name="vds_portgroup_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="vds_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The name of a vSphere Distributed Switch.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="portgroup_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The name of a vSphere Distributed Portgroup.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="collector_ip_address" type="oval-sc:EntityItemIPAddressType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Authorized collector IP Address to which Virtual Disributed Switch Netflow traffic is sent</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="collector_port" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Authorized collector Port to which Virtual Disributed Switch Netflow traffic is sent</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="override_port_policies_enabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Override port policies enabled?</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- Data Types -->
    <!-- =============================================================================== -->
    
    <xsd:complexType name="EntityItemAcceptanceLevelType">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="VMwareCertified">
                    <xsd:annotation>
                        <xsd:documentation>VMwareCertified</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="VMwareAccepted">
                    <xsd:annotation>
                        <xsd:documentation>VMwareAccepted</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="PartnerSupported">
                    <xsd:annotation>
                        <xsd:documentation>PartnerSupported</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="CommunitySupported">
                    <xsd:annotation>
                        <xsd:documentation>CommunitySupported</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Unknown">
                    <xsd:annotation>
                        <xsd:documentation>Unknown</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="EntityItemLockdownType">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="disabled">
                    <xsd:annotation>
                        <xsd:documentation>disabled</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="normal">
                    <xsd:annotation>
                        <xsd:documentation>normal</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="strict">
                    <xsd:annotation>
                        <xsd:documentation>strict</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="EntityItemFirewallDirectionType">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="inbound">
                    <xsd:annotation>
                        <xsd:documentation>inbound</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="outbound">
                    <xsd:annotation>
                        <xsd:documentation>outbound</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="EntityItemVMDeviceType">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="floppy">
                    <xsd:annotation>
                        <xsd:documentation>Floppy Devices</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="cdrom">
                    <xsd:annotation>
                        <xsd:documentation>CDROM Devices</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="parallel_port">
                    <xsd:annotation>
                        <xsd:documentation>Parallel Ports</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="serial_port">
                    <xsd:annotation>
                        <xsd:documentation>Serial Ports</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="usb">
                    <xsd:annotation>
                        <xsd:documentation>USB Devices</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="hard_disk">
                    <xsd:annotation>
                        <xsd:documentation>Hard Disk Drives</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="EntityItemVMDevicePersistenceType">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="Persistent">
                    <xsd:annotation>
                        <xsd:documentation>Persistent</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="NonPersistent">
                    <xsd:annotation>
                        <xsd:documentation>NonPersistent</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Undoable">
                    <xsd:annotation>
                        <xsd:documentation>Undoable</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="IndependentPersistent">
                    <xsd:annotation>
                        <xsd:documentation>IndependentPersistent</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="IndependentNonPersistent">
                    <xsd:annotation>
                        <xsd:documentation>IndependentNonPersistent</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Append">
                    <xsd:annotation>
                        <xsd:documentation>Append</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="EntityItemBusAdapterType">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="Block">
                    <xsd:annotation>
                        <xsd:documentation>Block</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="FibreChannel">
                    <xsd:annotation>
                        <xsd:documentation>FibreChannel</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="IScsi">
                    <xsd:annotation>
                        <xsd:documentation>iSCSI</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="ParallelScsi">
                    <xsd:annotation>
                        <xsd:documentation>Parallel SCSI</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with variable references.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="EntityItemAcceptRejectType">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="Accept">
                    <xsd:annotation>
                        <xsd:documentation>Accept Policy Changes</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Reject">
                    <xsd:annotation>
                        <xsd:documentation>Reject Policy Changes</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="EntityItemDomainMembershipStatusType">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="ClientTrustBroken">
                    <xsd:annotation>
                        <xsd:documentation>ClientTrustBroken</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="InconsistentTrust">
                    <xsd:annotation>
                        <xsd:documentation>InconsistentTrust</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="NoServers">
                    <xsd:annotation>
                        <xsd:documentation>NoServers</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Ok">
                    <xsd:annotation>
                        <xsd:documentation>Ok</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="OtherProblem">
                    <xsd:annotation>
                        <xsd:documentation>OtherProblem</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="ServerTrustBroken">
                    <xsd:annotation>
                        <xsd:documentation>ServerTrustBroken</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Unknown">
                    <xsd:annotation>
                        <xsd:documentation>Unknown</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with variable references.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>
