oval-schemas/iosxe-system-characteristics-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:oval-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5"
            xmlns:oval="http://oval.mitre.org/XMLSchema/oval-common-5"
            xmlns:iosxe-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#iosxe"
            xmlns:sch="http://purl.oclc.org/dsdl/schematron"
            targetNamespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#iosxe"
            elementFormDefault="qualified" version="5.12">
    <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5" schemaLocation="oval-system-characteristics-schema.xsd"/>
    <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-common-5" schemaLocation="oval-common-schema.xsd"/>
    <xsd:annotation>
        <xsd:documentation>The following is a description of the elements, types, and attributes that compose the IOS-XE specific system characteristic items found in Open Vulnerability and Assessment Language (OVAL). Each item is an extension of the standard item element defined in the Core System Characteristic Schema. Through extension, each item inherits a set of elements and attributes that are shared amongst all OVAL Items. Each item is described in detail and should provide the information necessary to understand what each element and attribute represents. This document is intended for developers and assumes some familiarity with XML. A high level description of the interaction between the different tests and their relationship to the Core System Characteristic Schema is not outlined here.</xsd:documentation>
        <xsd:documentation>The OVAL Schema is maintained by the OVAL Community. For more information, including how to get involved in the project and how to submit change requests, please visit the OVAL website at https://github.com/OVAL-Community/.</xsd:documentation>
        <xsd:documentation>Thanks to Omar Santos and Panos Kampanakis of Cisco for providing this test.</xsd:documentation>
        <xsd:appinfo>
            <schema>IOS-XE System Characteristics</schema>
            <version>5.12</version>
            <date>11/29/2024 09:00:00 AM</date>
            <terms_of_use>This software is an open standard developed by multiple parties, including the United States Government (Government). The Government hereby grants you a non-exclusive, royalty-free, worldwide license to use, modify, and/or reproduce the software for any lawful purpose provided that you reproduce this License/Disclaimer language with any use/modification/copy of the software. The Government assumes no responsibility whatsoever for this software's use by other parties, and the software is provided "AS IS" without warranty or guarantee of any kind, express or implied, including, but not limited to, the warranties of merchantability, fitness for a particular purpose, and noninfringement. In no event shall the Government be liable for any claim, damages or other liability, whether in an action of contract, tort or other dealings in the software. The Government has no obligation hereunder to provide maintenance, support, updates, enhancements, or modifications to the software. Users may submit proposals and/or updates regarding the software, which proposals and/or updates the Government, at its sole discretion, can choose to incorporate into the software. Proposals and/or updates submitted to the Government by users must be accompanied by a license to such proposals and/or updates that is no more restrictive than this License/Disclaimer.</terms_of_use>
            <sch:ns prefix="oval-sc" uri="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5"/>
            <sch:ns prefix="iosxe-sc" uri="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#iosxe"/>
            <sch:ns prefix="xsi" uri="http://www.w3.org/2001/XMLSchema-instance"/>
        </xsd:appinfo>
    </xsd:annotation>
    <!-- ================================================================================= -->
    <!-- =========================  IOS-XE GLOBAL ITEM   ================================= -->
    <!-- ================================================================================= -->
    <xsd:element name="global_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>Sotres information about the existence of a particular line in the IOS-XE config file under the global context</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="global_command" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The global_command entity identifies a specific line in the IOS-XE config file under the global context.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- ================================================================================= -->
    <!-- =============================  IOS-XE LINE ITEM  ================================ -->
    <!-- ================================================================================= -->
    <xsd:element name="line_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>Stores the properties of specific lines in the IOS-XE config file.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="show_subcommand" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The name of the SHOW sub-command.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="config_line" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The value returned from by the specified SHOW sub-command.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- ================================================================================= -->
    <!-- =========================  IOS-XE SECTION ITEM   ================================ -->
    <!-- ================================================================================= -->
    <xsd:element name="section_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>Stores command that are part of a IOS-XE configuration section. For example all configuration lines under an interface. It should not store configurations for configs that already have a separate item. For example BGP has a router item and should not also be stored in a section_item. </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="section_command" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The name of the section command.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="section_config_lines" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with all config lines of the section</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="config_line" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Element with one config line of the section at a time</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- ================================================================================= -->
    <!-- =============================  INTERFACE ITEM =================================== -->
    <!-- ================================================================================= -->
    <xsd:element name="interface_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>The interface_item represents an IOS-XE interface and its configuration options.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the interface name.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ip_directed_broadcast" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element that is true if the directed broadcast command is enabled on the interface. The default is false.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="proxy_arp" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element that is true if the proxy_arp command is enabled on the interface. The default is true.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="shutdown" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element that is true if the interface is shut down. The default is false.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="hardware_addr" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the interface hardware (MAC) address.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ipv4_address" type="oval-sc:EntityItemIPAddressStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the interface IPv4 address and mask. This element should only allow 'ipv4_address' of the oval:SimpleDatatypeEnumeration.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ipv6_address" type="oval-sc:EntityItemIPAddressStringType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Element with the interface IPv6 address and mask. This element should only allow 'ipv6_address' of the oval:SimpleDatatypeEnumeration.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ipv4_access_list" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="2">
                            <xsd:annotation>
                                <xsd:documentation>Element with the ingress or egress IPv4 ACL name applied on the interface.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ipv6_access_list" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="2">
                            <xsd:annotation>
                                <xsd:documentation>Element with the ingress or egress IPv6 ACL name applied on the interface.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="crypto_map" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the crypto map name applied to the interface.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ipv4_urpf_command" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the uRPF command for IPv4 under the interface.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ipv6_urpf_command" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the uRPF command for IPv6 under the interface.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="switchport_trunk_encapsulation" type="iosxe-sc:EntityItemTrunkEncapType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the switchport trunk encapsulation option configured on the interface (if applicable).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="switchport_mode" type="iosxe-sc:EntityItemSwitchportModeType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the switchport mode option configured on the interface (if applicable).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="switchport_native_vlan" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the trunk native vlan configured on the interface (if applicable).</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:restriction base="oval-sc:EntityItemAnySimpleType">
                                        <xsd:attribute name="datatype" use="optional" default="string">
                                            <xsd:simpleType>
                                                <xsd:restriction base="oval:SimpleDatatypeEnumeration">
                                                    <xsd:enumeration value="string"/>
                                                    <xsd:enumeration value="int"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:attribute>
                                    </xsd:restriction>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="switchport_access_vlan" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the access vlan configured on the interface (if applicable).</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:restriction base="oval-sc:EntityItemAnySimpleType">
                                        <xsd:attribute name="datatype" use="optional" default="string">
                                            <xsd:simpleType>
                                                <xsd:restriction base="oval:SimpleDatatypeEnumeration">
                                                    <xsd:enumeration value="string"/>
                                                    <xsd:enumeration value="int"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:attribute>
                                    </xsd:restriction>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="switchport_trunked_vlans" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the vlans that are trunked configured on the interface (if applicable).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="switchport_pruned_vlans" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the vlans that are pruned from the trunk (if applicable).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="switchport_port_security" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the switchport port-security commands configured on the interface (if applicable).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- ================================================================================= -->
    <!-- ================================ BGP NEIGHBOR ITEM ============================== -->
    <!-- ================================================================================= -->
    <xsd:element name="bgpneighbor_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>Stores information about bgp neighbors configured in bgp instances.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="neighbor" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the bgp neighbor.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="password" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the bgp authentication password, if configured. If Encryption type is configured it should be included in the password string. For example '0 cisco123'. </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- ================================================================================= -->
    <!-- ================== ROUTING PROTOCOL AUTHENTICATION INTERFACE ITEM =============== -->
    <!-- ================================================================================= -->
    <xsd:element name="routingprotocolauthintf_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>Stores information for routing protocol authentication configured under specific interfaces.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="interface" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the interface.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="protocol" type="iosxe-sc:EntityItemRoutingProtocolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the routing protocol.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="id" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the routing protocol id.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="auth_type" type="iosxe-sc:EntityItemRoutingAuthTypeStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the routing protocol authentication type.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ospf_area" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the OSPF area that is authenticated, if applicable.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:restriction base="oval-sc:EntityItemAnySimpleType">
                                        <xsd:attribute name="datatype" use="optional" default="int">
                                            <xsd:simpleType>
                                                <xsd:restriction base="oval:SimpleDatatypeEnumeration">
                                                    <xsd:enumeration value="int"/>
                                                    <xsd:enumeration value="ipv4_address"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:attribute>
                                    </xsd:restriction>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="key_chain" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the name of the key chain, if applicable.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- ================================================================================= -->
    <!-- =======================  IOS-XE SNMP HOST ITEM   ================================ -->
    <!-- ================================================================================= -->
    <xsd:element name="snmphost_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>Stores information about the SNMP host configuration in IOS. That information includes the host, the community or user strings, the SNMP version, the snmp security (if the SNMP version is SNMPv3) and the SNMP traps. </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="host" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP host address or hostname.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="community_or_user" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the community string or SNMPv3 user configured for the host.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="version" type="iosxe-sc:EntityItemSNMPVersionStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP version.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="snmpv3_sec_level" type="iosxe-sc:EntityItemSNMPSecLevelStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMPv3 security configure for the host.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="traps" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP traps configured.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- ================================================================================= -->
    <!-- ======================  IOS-XE SNMP COMMUNITY ITEM   ============================ -->
    <!-- ================================================================================= -->
    <xsd:element name="snmpcommunity_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>Stores information about an SNMP community configuration in IOS. That information includes the community name, the view (if it applies) name, the read-write mode and the ACLs names applied. </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP community name.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="view" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the view that restricts the OIDs of this community.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="mode" type="iosxe-sc:EntityItemSNMPModeStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the read-write privileges of the community.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ipv4_acl" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the IPv4 ACL name applied to the community.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ipv6_acl" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the IPv6 ACL name applied to the community</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- ================================================================================= -->
    <!-- =========================  IOS-XE SNMP USER ITEM   ============================== -->
    <!-- ================================================================================= -->
    <xsd:element name="snmpuser_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>Stores information about an SNMP user configuration in IOS. That information includes the user name, the SNMP group he belongs to, the SNMP version, the IPv4 or IPv6 ACL it is applied to, the Security Level and the Authentication type that apply to the user (for SNMPv3).</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP user name.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="group" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP group the user belongs to.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="version" type="iosxe-sc:EntityItemSNMPVersionStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP version of the user.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ipv4_acl" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the IPv4 ACL name applied to the user.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ipv6_acl" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the IPv6 ACL name applied to the user.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="priv" type="iosxe-sc:EntityItemSNMPPrivStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP encryption type for the user (for SNMPv3).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="auth" type="iosxe-sc:EntityItemSNMPAuthStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP authentication type for the user (for SNMPv3).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- ================================================================================= -->
    <!-- =========================  IOS-XE SNMP GROUP ITEM   ============================= -->
    <!-- ================================================================================= -->
    <xsd:element name="snmpgroup_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>Stores information about an SNMP group configuration in IOS. That information includes the group name, the SNMP version, the IPv4 or IPv6 ACL it is applied toand the read, write and/or notify views applied to the group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP group name.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="version" type="iosxe-sc:EntityItemSNMPVersionStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP version of the group.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="snmpv3_sec_level" type="iosxe-sc:EntityItemSNMPSecLevelStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMPv3 security configure for the group.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ipv4_acl" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the IPv4 ACL name applied to the group.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ipv6_acl" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the IPv6 ACL name applied to the group.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="read_view" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP read view applied to the group.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="write_view" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP write view applied to the group.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="notify_view" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP notify view applied to the group.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- ================================================================================= -->
    <!-- ================================================================================= -->
    <!-- ================================================================================= -->
    <xsd:complexType name="EntityItemTrunkEncapType">
        <xsd:annotation>
            <xsd:documentation>The EntityItemTrunkEncapType complex type restricts a string value to
                a specific set of values: DOT1Q, ISL, NEGOTIATE. These values describe the interface
                trunk encapsulation types on an interfaces in IOS. The empty string is also allowed
                to support empty element associated with error conditions.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="DOT1Q" />
                <xsd:enumeration value="ISL" />
                <xsd:enumeration value="NEGOTIATE" />
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with error conditions.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="EntityItemSwitchportModeType">
        <xsd:annotation>
            <xsd:documentation>The EntityObjectRoutingProtocolType complex type restricts a string
                value to a specific set of values: DYNAMIC, TRUNK, ACCESS. These values describe the
                interface switchport mode types in IOS. The empty string is also allowed to support
                empty element associated with error conditions.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="DYNAMIC" />
                <xsd:enumeration value="TRUNK" />
                <xsd:enumeration value="ACCESS" />
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with error conditions.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="EntityItemRoutingProtocolType">
        <xsd:annotation>
            <xsd:documentation>The EntityItemRoutingProtocolType complex type restricts a string
                value to a specific set of values: EIGRP, OSPF, BGP, RIP, RIPV2, ISIS. These values
                describe the routing protocol used in a Cisco IOS-XE configuration. The empty string
                is also allowed to support empty element associated with error
                conditions.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="EIGRP"/>
                <xsd:enumeration value="OSPF"/>
                <xsd:enumeration value="BGP"/>
                <xsd:enumeration value="RIP"/>
                <xsd:enumeration value="RIPV2"/>
                <xsd:enumeration value="ISIS"/>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with error conditions.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="EntityItemRoutingAuthTypeStringType">
        <xsd:annotation>
            <xsd:documentation>The EntityItemRoutingAuthTypeStringType complex type restricts a
                string value to a specific set of values: CLEARTEXT, MESSAGE_DIGEST. These
                values describe the routing protocol authentication types used in a Cisco IOS-XE
                configuration. The empty string is also allowed to support empty element associated
                with error conditions.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="CLEARTEXT"/>
                <xsd:enumeration value="MESSAGE_DIGEST"/>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with error conditions.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="EntityItemSNMPVersionStringType">
        <xsd:annotation>
            <xsd:documentation>The EntityItemSNMPVersionStringType complex type restricts a string
                value to a specific set of values: 1, 2c, 3. These values describe the SNMP version
                in a Cisco IOS-XE configuration. The empty string is also allowed to support empty
                element associated with error conditions.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="1"/>
                <xsd:enumeration value="2C"/>
                <xsd:enumeration value="3"/>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with error conditions.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="EntityItemSNMPSecLevelStringType">
        <xsd:annotation>
            <xsd:documentation>The EntityItemSNMPVersionStringType complex type restricts a string
                value to a specific set of values: PRIV, AUTH, NO_AUTH. These values describe the
                SNMP security level (encryption, Authentication, None) in a Cisco IOS-XE SNMPv3
                related configurations. The empty string is also allowed to support empty element
                associated with error conditions.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="PRIV"/>
                <xsd:enumeration value="AUTH"/>
                <xsd:enumeration value="NO_AUTH"/>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with error conditions.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="EntityItemSNMPModeStringType">
        <xsd:annotation>
            <xsd:documentation>The EntityItemSNMPModeStringType complex type restricts a string
                value to a specific set of values: RO, RW. These values describe the SNMP mode
                (read-only, read-write) in a Cisco IOS-XE SNMPv3 related configurations. The empty
                string is also allowed to support empty element associated with error
                conditions.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="RO"/>
                <xsd:enumeration value="RW"/>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with error conditions.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="EntityItemSNMPAuthStringType">
        <xsd:annotation>
            <xsd:documentation>The EntityItemSNMPAuthStringType complex type restricts a string
                value to a specific set of values: MD5, SHA. These values describe the
                authentication algorithm in a Cisco IOS-XE SNMPv3 related configurations. The empty
                string is also allowed to support empty element associated with error
                conditions.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="MD5"/>
                <xsd:enumeration value="SHA"/>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with error conditions.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="EntityItemSNMPPrivStringType">
        <xsd:annotation>
            <xsd:documentation>The EntityItemSNMPPrivStringType complex type restricts a string
                value to a specific set of values: DES, 3DES, AES. These values describe the
                encryption algorithm in a Cisco IOS-XE SNMPv3 related configurations. The empty
                string is also allowed to support empty element associated with error
                conditions.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="DES"/>
                <xsd:enumeration value="3DES"/>
                <xsd:enumeration value="AES"/>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with error conditions.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
</xsd:schema>
