oval-schemas/macos-system-characteristics-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:oval-sc="urn:oval:v6:system-characteristics"
            xmlns:oval="urn:oval:v6:common"
            xmlns:macos-sc="urn:oval:v6:system-characteristics:macos"
            xmlns:sch="http://purl.oclc.org/dsdl/schematron"
            targetNamespace="urn:oval:v6:system-characteristics:macos"
            elementFormDefault="qualified" version="6.0">
     <xsd:import namespace="urn:oval:v6:system-characteristics" schemaLocation="oval-system-characteristics-schema.xsd"/>
     <xsd:annotation>
          <xsd:documentation>The following is a description of the elements, types, and attributes that compose the MacOS specific system characteristic items found in Open Vulnerability and Assessment Language (OVAL). Each item is an extension of the standard test element defined in the Core Definition Schema. Through extension, each test inherits a set of elements and attributes that are shared amongst all OVAL tests. Each test is described in detail and should provide the information necessary to understand what each element and attribute represents. This document is intended for developers and assumes some familiarity with XML. A high level description of the interaction between the different tests and their relationship to the Core Definition Schema is not outlined here.</xsd:documentation>
          <xsd:documentation>The MacOS System Characteristics Schema was initially developed by The Center for Internet Security. Many thanks to their contributions to OVAL and the security community.</xsd:documentation>
          <xsd:documentation>The OVAL Schema is maintained by the OVAL Community. For more information, including how to get involved in the project and how to submit change requests, please visit the OVAL website at https://github.com/OVAL-Community/.</xsd:documentation>
          <xsd:appinfo>
               <schema>MacOS System Characteristics</schema>
               <version>6.0</version>
               <date>1/24/2025 09:00:00 AM</date>
                <terms_of_use>This software is an open standard developed by multiple parties, including the United States Government (Government). The Government hereby grants you a non-exclusive, royalty-free, worldwide license to use, modify, and/or reproduce the software for any lawful purpose provided that you reproduce this License/Disclaimer language with any use/modification/copy of the software. The Government assumes no responsibility whatsoever for this software's use by other parties, and the software is provided "AS IS" without warranty or guarantee of any kind, express or implied, including, but not limited to, the warranties of merchantability, fitness for a particular purpose, and noninfringement. In no event shall the Government be liable for any claim, damages or other liability, whether in an action of contract, tort or other dealings in the software. The Government has no obligation hereunder to provide maintenance, support, updates, enhancements, or modifications to the software. Users may submit proposals and/or updates regarding the software, which proposals and/or updates the Government, at its sole discretion, can choose to incorporate into the software. Proposals and/or updates submitted to the Government by users must be accompanied by a license to such proposals and/or updates that is no more restrictive than this License/Disclaimer.</terms_of_use>
               <sch:ns prefix="oval-sc" urn="urn:oval:v6:system-characteristics"/>
               <sch:ns prefix="macos-sc" urn="urn:oval:v6:system-characteristics:macos"/>
              <sch:ns prefix="xsi" uri="http://www.w3.org/2001/XMLSchema-instance"/>
          </xsd:appinfo>
     </xsd:annotation>
     <!-- =============================================================================== -->
     <!-- =============================  ACCOUNT INFO ITEM  ============================= -->
     <!-- =============================================================================== -->
     <xsd:element name="accountinfo_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This item stores user account information (username, uid, gid, etc.).</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="username" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The user associated with the information collected.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="password" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Obfuscated (*****) or encrypted password for this user.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="uid" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The numeric user id, or uid, is the third column of each user's entry in /etc/passwd. This element represents the owner of the file.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="gid" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Group ID of this account.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="realname" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>User's real name, aka gecos field of /etc/passwd.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="home_dir" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The home directory for this user account.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="login_shell" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The login shell for this user account.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="generated_uid" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The generated UID for this user account. The UID is related to File Vault.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ===========================  AUTHORIZATIONDB ITEM  =========================== -->
     <!-- =============================================================================== -->
     <xsd:element name="authorizationdb_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This item stores results from checking the contents of an authorizationdb right.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="right_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the right_name in which the item is specified.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="xpath" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies an Xpath expression describing the text node(s) or attribute(s) to look at.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="value_of" type="oval-sc:EntityItemAnySimpleType" minOccurs="0" maxOccurs="unbounded">
                                   <xsd:annotation>
                                        <xsd:documentation>The value_of element checks the value(s) of the text node(s) or attribute(s) found. How this is used is entirely controlled by operator attributes.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- =============================  DISK INFO ITEM  ================================ -->
     <!-- =============================================================================== -->
     <xsd:element name="diskinfo_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
                  <xsd:documentation>The diskinfo_item contains information retrieved using the 'diskutil info &lt;device ID&gt;' command.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="device_identifier" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The device identifier.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="volume_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The value of the volume name field (if any).</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="file_system_personality" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The value of the file system personality field (if any).</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="removable_media" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The value of the removable media field (if any).</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="device_location" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The value of the device location field (if any).</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="solid_state" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The value of the solid state flag.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="read_only" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The value of the read-only volume flag.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="file_vault" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Whether or not FileVault is enabled on the disk.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="mount_point" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The mount point for this disk (if any).</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="smart_status" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The value of the SMART status field (if any).</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="encrypted" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>
                                             The value of the encrypted status field (if any). This is typically present for external drives,
                                             not APFS drives with FileVault active (for which this field does not exist).
                                        </xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="apfs_uid" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="unbounded">
                                   <xsd:annotation>
                                        <xsd:documentation>The value(s) of APFS cryptographic UIDs (if any) for the disk.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ============================ DISABLEDSERVICE ITEM ============================= -->
     <!-- =============================================================================== -->
     <xsd:element name="disabledservice_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This item stores results from checking a launchd domain for disabled services.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="label" type="oval-sc:EntityItemStringType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the name of the agent/daemon.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="disabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the actual status of the service as indicated by the output of the 'launchctl print-disabled &lt;domain&gt;' command.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ============================  FILE VAULT ITEM  ================================ -->
     <!-- =============================================================================== -->
     <xsd:element name="filevault_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>
                    The filevault_item stores information about the status of File Vault on the machine.
               </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="status" type="macos-sc:EntityItemFileVaultStatusType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>
                                             The status element contains the File Vault status on the machine. If encryption is in progress, the status will be 'encrypting', otherwise it will be 'enabled' or 'disabled'.
                                        </xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <xsd:complexType name="EntityItemFileVaultStatusType">
           <xsd:simpleContent>
                 <xsd:restriction base="oval-sc:EntityItemStringType">
                       <xsd:enumeration value="enabled"/>
                       <xsd:enumeration value="disabled"/>
                       <xsd:enumeration value="encrypting"/>
                       <xsd:enumeration value="">
                             <xsd:annotation>
                                   <xsd:documentation>The empty string value is permitted here to allow for detailed error reporting.</xsd:documentation>
                             </xsd:annotation>
                       </xsd:enumeration>
                 </xsd:restriction>
           </xsd:simpleContent>
     </xsd:complexType>
     <!-- =============================================================================== -->
     <!-- ========================  FIRMWARE PASSWORD ITEM  ============================= -->
     <!-- =============================================================================== -->
     <xsd:element name="firmwarepassword_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>
                    The firmwarepassword_item stores information about the status of the firmwarepasswd command on the machine.
               </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="enabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>
                                             The status element describes whether or not a firmware password is enabled on the machine.
                                        </xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ===========================  GATEKEEPER ITEM  =========================== -->
     <!-- =============================================================================== -->
     <xsd:element name="gatekeeper_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This item stores results from checking the settings of the Gatekeeper.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="enabled" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The status of Gatekeeper assessments.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="require_developer_id" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The status of Gatekeeper enforcement of app developer id.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="unlabeled" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="unbounded">
                                   <xsd:annotation>
                                        <xsd:documentation>The path to an unsigned application folder to which Gatekeeper has granted execute permission.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ==========================  INSTALL HISTORY ITEM  ============================= -->
     <!-- =============================================================================== -->
     <xsd:element name="installhistory_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>
                    The installhistory_item stores information retrieved from the system_profiler about installed software on the device.
                    Information is collected from the target endpoint using the "system_profiler SPInstallHistoryDataType" command
                    and output values are parsed from the XML output.
               </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>
                                             The name element contains the name of the software history entry represented by the item.
                                        </xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="install_version" type="oval-sc:EntityItemVersionType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>
                                             The install_version element contains the version of the installed software item. When this entry is blank or
                                             made up of only white-space, the status of the entity should be "does not exist".
                                        </xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="install_date" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>
                                             The install_date element contains the date that the software item was installed on the system. The value is an
                                             integer expressing the number of seconds which have passed since the epoch, midnight GMT Jan 1, 1970.
                                        </xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="package_source" type="macos-sc:EntityItemPackageSourceType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>
                                             The package_source element contains the source of the installed software item.
                                        </xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ===========================  KEYCHAIN  ITEM  =========================== -->
     <!-- =============================================================================== -->
     <xsd:element name="keychain_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This item stores results from checking the settings of a keychain.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="filepath" type="oval-sc:EntityItemStringType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the filepath of the keychain.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="lock_on_sleep" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies whether the keychain is configured to lock on sleep.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="timeout" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The inactivity timeout (in seconds) for the keychain, or 0 if there is no timeout.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ===========================  LAUNCHD  ITEM  =========================== -->
     <!-- =============================================================================== -->
     <xsd:element name="launchd_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This item stores results from checking a launchd-controlled daemon/agent.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="label" type="oval-sc:EntityItemStringType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the name of the agent/daemon.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="pid" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the process ID of the daemon (if any).</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="status" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the last exit code of the daemon (if any), or if $lt; 0, indicates the negative of the signal that interrupted processing.  For example, a value of -15 would indicate that the job was terminated via a SIGTERM.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ================================ NVRAM512 ITEM ================================ -->
     <!-- =============================================================================== -->
     <xsd:element name="nvram512_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This item stores results from checking a firmware variable via an nvram512_object.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                     <xsd:extension base="oval-sc:ItemType">
                          <xsd:sequence>
                               <xsd:element name="variable" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                    <xsd:annotation>
                                         <xsd:documentation>Specifies the name of the firmware variable that was queried.</xsd:documentation>
                                    </xsd:annotation>
                               </xsd:element>
                               <xsd:element name="value" type="oval-sc:EntityItemBinaryType" minOccurs="0" maxOccurs="1">
                                    <xsd:annotation>
                                         <xsd:documentation>Specifies the binary value of the firmware variable.</xsd:documentation>
                                    </xsd:annotation>
                               </xsd:element>
                          </xsd:sequence>
                     </xsd:extension>
                </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- =============================  PLIST ITEM (5.11) ============================== -->
     <!-- =============================================================================== -->
     <xsd:element name="plist511_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>The plist511_item stores results from checking the contents of the XML representation of a plist file. It extends the standard ItemType as defined in the oval-system-characteristics schema and one should refer to the ItemType description for more information.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="app_id" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The unique application identifier that specifies the application to use when looking up the preference key (e.g. com.apple.Safari).</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="filepath" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The absolute path to a plist file (e.g. /Library/Preferences/com.apple.TimeMachine.plist).</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="xpath" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies an XPath 1.0 expression to evaluate against the XML representation of the plist file specified by the filename or app_id entity. This XPath 1.0 expression must evaluate to a list of zero or more text values which will be accessible in OVAL via instances of the value_of entity.  Any results from evaluating the XPath 1.0 expression other than a list of text strings (e.g., a nodes set) is considered an error.  The intention is that the text values be drawn from instances of a single, uniquely named element or attribute.  However, an OVAL interpreter is not required to verify this, so the author should define the XPath expression carefully.  Note that "equals" is the only valid operator for the xpath entity.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="value_of" type="oval-sc:EntityItemAnySimpleType" minOccurs="0" maxOccurs="unbounded">
                                   <xsd:annotation>
                                        <xsd:documentation>The value_of element checks the value(s) of the text node(s) or attribute(s) found. How this is used is entirely controlled by operator attributes.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- =============================  PROFILES ITEM  ================================= -->
     <!-- =============================================================================== -->
     <xsd:element name="profiles_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>
                    The profiles_item stores information about the status of device configuration profiles on the machine.
               </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="mdm_enrolled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>
                                             The status element describes whether the device is enrolled in MDM.
                                        </xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="dep_enrolled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>
                                             The status element describes whether the device is enrolled in MDM via DEP.
                                        </xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ============================ PWPOLICY ITEM (5.12) ============================= -->
     <!-- =============================================================================== -->
     <xsd:element name="pwpolicy512_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>The pwpolicy512_item holds the password policy information for a particular user specified by the target_user element. Please see the 'pwpolicy' man page for additional information.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="username" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1" nillable="true">
                                   <xsd:annotation>
                                        <xsd:documentation>The username element specifies the user whose password policy information was collected. If xsi:nil="true", the item specifies the global policy.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="authenticator" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1" nillable="true">
                                   <xsd:annotation>
                                        <xsd:documentation>The authenticator element specifies the username of the authenticator.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="authenticator_password" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1" nillable="true">
                                   <xsd:annotation>
                                        <xsd:documentation>The authenticator_password element specifies the password of the authenticator as specified by the authenticator element.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="directory_node" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1" nillable="true">
                                   <xsd:annotation>
                                        <xsd:documentation>The directory_node element specifies the directory node that the password policy information was collected from.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="xpath" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies an XPath 1.0 expression to evaluate against the XML representation of the plist file specified by the filename or app_id entity. This XPath 1.0 expression must evaluate to a list of zero or more text values which will be accessible in OVAL via instances of the value_of entity.  Any results from evaluating the XPath 1.0 expression other than a list of text strings (e.g., a nodes set) is considered an error.  The intention is that the text values be drawn from instances of a single, uniquely named element or attribute.  However, an OVAL interpreter is not required to verify this, so the author should define the XPath expression carefully.  Note that "equals" is the only valid operator for the xpath entity.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="value_of" type="oval-sc:EntityItemAnySimpleType" minOccurs="0" maxOccurs="unbounded">
                                   <xsd:annotation>
                                        <xsd:documentation>The value_of element checks the value(s) of the text node(s) or attribute(s) found. How this is used is entirely controlled by operator attributes.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ===========================  SOFTWAREUPDATE ITEM  ============================= -->
     <!-- =============================================================================== -->
     <xsd:element name="softwareupdate_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This item represents automatic software update information.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="schedule" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies whether automatic checking is enabled (true).</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="software_title" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="unbounded">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the title string for an available (not installed) software update.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ===========================  SYSTEMPROFILER ITEM  ============================= -->
     <!-- =============================================================================== -->
     <xsd:element name="systemprofiler_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This item stores results from performing an XPATH query on the XML result of a systemprofiler data type query.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="data_type" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the data type that was used in collection.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="xpath" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies an Xpath expression describing the text node(s) or attribute(s) to look at.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="value_of" type="oval-sc:EntityItemAnySimpleType" minOccurs="0" maxOccurs="unbounded">
                                   <xsd:annotation>
                                        <xsd:documentation>The value_of element checks the value(s) of the text node(s) or attribute(s) found. How this is used is entirely controlled by operator attributes.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ===========================  SYSTEMSETUP ITEM  ================================ -->
     <!-- =============================================================================== -->
     <xsd:element name="systemsetup_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This item represents system setup information.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="timezone" type="oval-sc:EntityItemStringType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the name of the current time zone.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="usingnetworktime" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies wither the machine is using network time.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="networktimeserver" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the network time server.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="computersleep" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the computer sleep inactivity timer, or 0 for never.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="displaysleep" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the display sleep inactivity timer, or 0 for never.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="harddisksleep" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the hard disk sleep inactivity timer, or 0 for never.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="wakeonmodem" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies whether the computer will wake up if the modem is accessed.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="wakeonnetworkaccess" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies whether the computer will wake up if the network is accessed.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="restartfreeze" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies whether the computer will restart after freezing.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="restartpowerfailure" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies whether the computer will restart after a power failure.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="allowpowerbuttontosleepcomputer" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies whether the power button can be used to cause the computer to sleep.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="remotelogin" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies whether remote logins are allowed.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="remoteappleevents" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies whether remote Apple events are enabled.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="computername" type="oval-sc:EntityItemStringType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the computer's name.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="localsubnetname" type="oval-sc:EntityItemStringType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the name of the local subnet.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="startupdisk" type="oval-sc:EntityItemStringType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the startup disks.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="waitforstartupafterpowerfailure" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the number of seconds the computer waits to start up after a power failure.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="disablekeyboardwhenenclosurelockisengaged" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies whether the keyboard is locked when the closure lock is engaged.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="kernelbootarchitecturesetting" type="oval-sc:EntityItemStringType" minOccurs="1" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the kernel boot architecture setting.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- =============================================================================== -->
     <!-- =============================================================================== -->

     <xsd:complexType name="EntityItemPackageSourceType">
          <xsd:simpleContent>
               <xsd:restriction base="oval-sc:EntityItemStringType">
                    <xsd:enumeration value="Apple"/>
                    <xsd:enumeration value="AppStore"/>
                    <xsd:enumeration value="ThirdParty"/>
                    <xsd:enumeration value="">
                         <xsd:annotation>
                              <xsd:documentation>The empty string value is permitted here to allow for detailed error reporting.</xsd:documentation>
                         </xsd:annotation>
                    </xsd:enumeration>
               </xsd:restriction>
          </xsd:simpleContent>
     </xsd:complexType>
</xsd:schema>
