oval-schemas/oval-directives-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:oval="http://oval.mitre.org/XMLSchema/oval-common-5"
            xmlns:oval-res="http://oval.mitre.org/XMLSchema/oval-results-5"
            xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
            xmlns:sch="http://purl.oclc.org/dsdl/schematron"
            xmlns:oval-dir="http://oval.mitre.org/XMLSchema/oval-directives-5"
            targetNamespace="http://oval.mitre.org/XMLSchema/oval-directives-5"
            elementFormDefault="qualified" version="5.11">
     <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-common-5" schemaLocation="oval-common-schema.xsd"/>
     <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-results-5" schemaLocation="oval-results-schema.xsd"/>
     <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
     <xsd:annotation>
          <xsd:documentation>The following is a description of the elements, types, and attributes that compose the core schema for encoding Open Vulnerability and Assessment Language (OVAL) Directives. Each of the elements, types, and attributes that make up the Core Directives Schema are described in detail and should provide the information necessary to understand what each object represents. This document is intended for developers and assumes some familiarity with XML. A high level description of the interaction between these objects is not outlined here.</xsd:documentation>
          <xsd:documentation>The OVAL Schema is maintained by The MITRE Corporation and developed by the public OVAL Community. For more information, including how to get involved in the project and how to submit change requests, please visit the OVAL website at http://oval.mitre.org.</xsd:documentation>
          <xsd:appinfo>
               <schema>Core Directives</schema>
               <version>5.11.2</version>
               <date>11/29/2024 09:00:00 AM</date>
               <terms_of_use>This software is an open standard developed by multiple parties, including the United States Government (Government). The Government hereby grants you a non-exclusive, royalty-free, worldwide license to use, modify, and/or reproduce the software for any lawful purpose provided that you reproduce this License/Disclaimer language with any use/modification/copy of the software. The Government assumes no responsibility whatsoever for this software's use by other parties, and the software is provided "AS IS" without warranty or guarantee of any kind, express or implied, including, but not limited to, the warranties of merchantability, fitness for a particular purpose, and noninfringement. In no event shall the Government be liable for any claim, damages or other liability, whether in an action of contract, tort or other dealings in the software. The Government has no obligation hereunder to provide maintenance, support, updates, enhancements, or modifications to the software. Users may submit proposals and/or updates regarding the software, which proposals and/or updates the Government, at its sole discretion, can choose to incorporate into the software. Proposals and/or updates submitted to the Government by users must be accompanied by a license to such proposals and/or updates that is no more restrictive than this License/Disclaimer.</terms_of_use>
               <sch:ns prefix="oval-dir" uri="http://oval.mitre.org/XMLSchema/oval-directives-5"/>
          </xsd:appinfo>
     </xsd:annotation>
     <!-- =============================================================================== -->
     <!-- =============================================================================== -->
     <!-- =============================================================================== -->
     <xsd:element name="oval_directives">
          <xsd:annotation>
               <xsd:documentation>The oval_directives element is the root of an OVAL Directive Document. Its purpose is to bind together the generator and the set of directives contained in the document. The generator section must be present and provides information about when the directives document was compiled and under what version. The optional Signature element allows an XML Signature as defined by the W3C to be attached to the document. This allows authentication and data integrity to be provided to the user. Enveloped signatures are supported. More information about the official W3C Recommendation regarding XML digital signatures can be found at http://www.w3.org/TR/xmldsig-core/.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:sequence>
                    <xsd:element name="generator" type="oval:GeneratorType">
                         <xsd:annotation>
                              <xsd:documentation>The required generator section provides information about when the directives document was compiled and under what version.</xsd:documentation>
                         </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="directives" type="oval-res:DefaultDirectivesType">
                         <xsd:annotation>
                              <xsd:documentation>The required directives section presents flags describing what information must be been included in an oval results document. This element represents the default set of directives. These directives apply to all classes of definitions for which there is not a class specific set of directives.</xsd:documentation>
                         </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="class_directives" type="oval-res:ClassDirectivesType" minOccurs="0" maxOccurs="5">
                         <xsd:annotation>
                              <xsd:documentation>The optional class_directives section presents flags describing what information has been included in the results document for a specific OVAL Definition class. The directives for a particlar class override the default directives.</xsd:documentation>
                         </xsd:annotation>
                    </xsd:element>                         
                    <xsd:element ref="ds:Signature" minOccurs="0" maxOccurs="1">
                         <xsd:annotation>
                              <xsd:documentation>The optional Signature element allows an XML Signature as defined by the W3C to be attached to the document. This allows authentication and data integrity to be provided to the user. Enveloped signatures are supported. More information about the official W3C Recommendation regarding XML digital signatures can be found at http://www.w3.org/TR/xmldsig-core/.</xsd:documentation>
                         </xsd:annotation>
                    </xsd:element>
               </xsd:sequence>
          </xsd:complexType>
          <xsd:unique name="UniqueDirectiveClass">
               <xsd:annotation>
                    <xsd:documentation>The class attribute on class_directives must be unique.</xsd:documentation>
               </xsd:annotation>
               <xsd:selector xpath="oval-dir:class_directives"/>
               <xsd:field xpath="@class"/>
          </xsd:unique>
     </xsd:element>
     
     <!-- =============================================================================== -->
     <!-- =================================  GENERATOR  ================================= -->
     <!-- =============================================================================== -->
     <!--
          The GeneratorType is defined by the oval-common-schema.  Please refer to
          that documentation for a description of the complex type.
     -->
     <!-- =============================================================================== -->
     <!-- ================================  DIRECTIVES  ================================= -->
     <!-- =============================================================================== -->
     <!--
          The DefaultDirectivesType is defined by the oval-results-schema.  Please refer to
          that documentation for a description of the complex type.
     -->
     <!-- =============================================================================== -->
     <!-- ================================  DIRECTIVES  ================================= -->
     <!-- =============================================================================== -->
     <!--
          The ClassDirectivesType is defined by the oval-results-schema.  Please refer to
          that documentation for a description of the complex type.
     -->
</xsd:schema>
